* {
    font-family: "Titillium Web", sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #f3ebdd;
  text-align: center;
}

button {
    padding: 10px;
    border:solid 1px #E4C988;
    background-color: #f3ebdd;
    font-size: 14px;
}
.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #E4C988;
    margin: 30px;
}

.grid div {
    height: 30px;
    width: 30px;
}

.tetromino {
    
}

.mini-grid {
    padding: 20px;
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #E4C988
}
h3 {
    height: 25px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 600px;
    margin: 30px;
}
.next-shape {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.mini-grid div {
    height: 20px;
    width: 20px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}